<!--[if lt IE 9]>
<script>
    document.createElement("header");
    document.createElement("footer");
    document.createElement("section");
    document.createElement("aside");
    document.createElement("nav");
    document.createElement("article");
    document.createElement("hgroup");
    document.createElement("time");
</script>
<div class="browser-upgrade alert alert-info">
    <p>You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <noscript>
        <p>Because your browser does not support HTML5, some elements are created using JavaScript.
        Unfortunately your browser has disabled scripting. Please enable it in order to display this page.</p>
    </noscript>
</div>
<![endif]-->
