        <nav>
            <header><h2><a href="#" onclick="$('#main-menu').toggle();">Menu <span class="fa fa-fw fa-bars"></span></a></h2></header>
            <ul id="main-menu">
                {% for link in site.data.navigation %}
                    {% if link.url contains 'http' %}
                        {% if link.url contains 'github.com' %}
                            {% assign external = ' <span class="fa fa-fw fa-github"></span>' %}
                        {% else %}
                            {% assign external = ' <span class="fa fa-fw fa-external-link"></span>' %}
                        {% endif %}
                    {% else %}
                        {% assign external = '' %}
                    {% endif %}
                    <li>
                        {% if link.menu %}
                        <a {% if link.url %}href="{{ link.url }}"{% endif %} onclick="$('#{{ link.id }}').toggle();">{{ link.title }}{{ external }}</a>
                        <ul id="{{ link.id }}">
                            {% for sub in link.menu %}
                                {% if sub.url contains 'http' %}
                                    {% assign domain = '' %}
                                    {% if sub.url contains 'github.com' %}
                                        {% assign external = ' <span class="fa fa-fw fa-github"></span>' %}
                                    {% else %}
                                        {% assign external = ' <span class="fa fa-fw fa-external-link"></span>' %}
                                    {% endif %}
                                {% else %}
                                    {% assign domain = site.url %}
                                    {% assign external = '' %}
                                {% endif %}
                                <li>
                                    <a href="{{ sub.url }}" {% if sub.url contains 'http' %}target="_blank"{% endif %} onclick="$('#{{ link.id }}').hide();">{{ sub.title }}{{ external }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <a href="{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}{{ external }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
