{% include _browser-upgrade.html %}
<header>
    <div class="horizontal">
        <section>
            {% include _navigation.html %}

            <h1>Joomla Architecture</h1>

            <p>This is a pool of ideas for the architecture of Joomla! 4</p>
        </section>

        <aside>
            <a href="/">
                <img src="https://avatars1.githubusercontent.com/u/12716156?v=3&s=200" alt="nibralab" style="float: left;"/>

                <div>
                    <h1>nibralab</h1>

                    <p>nibra's Think Tank</p>
                </div>
            </a>
        </aside>
    </div>
</header>
