<nav>
    <h2>Topics</h2>

    <ul class="topics">
        <li>
            Introduction
            <ul>
                <li><a href="index.html">About the Project</a></li>
            </ul>
        </li>
        <li>
            Frontend
            <ul>
                <li><a href="frontend-structure.html">Frontend Structure</a></li>
                <li><a href="input-abstraction.html">Input Abstraction</a></li>
                <li><a href="cli.html">CLI Frontend</a></li>
            </ul>
        </li>
        <li>
            Content
            <ul>
                <li><a href="content-structure.html">Content Structure</a></li>
            </ul>
        </li>
        <li>
            Controller
            <ul>
                <li><a href="command-structure.html">Command Structure</a></li>
                <li><a href="command-undo.html">Undo Command Example</a></li>
            </ul>
        </li>
        <li>
            Model
        </li>
        <li>
            View
        </li>
        <li>
            Appendix
            <ul>
                <li><a href="other-concepts.html">Other Concepts</a></li>
                <li><a href="glossary.html">Glossary</a></li>
            </ul>
        </li>
    </ul>
</nav>
