<nav>
    <h2>Topics</h2>
    <script>
        var categories = {};
        {% for post in site.posts %}categories.{{ post.category }}."{{ post.id }}" = {
            url: {{ post.url }},
            title: {{ post.title }}
        };
        {% endfor %}
    </script>
    <ul class="topics">{% for cat in site.category-list %}
        <h3>{{ cat }}</h3>
        <ul>{% for post in site.posts %}{% if post.category == cat %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>{% endif %}{% endfor %}
        </ul>{% endfor %}
    </ul>
</nav>
