<nav>
    <script type="application/javascript">
        var categories = {{ site.categories }};
    </script>
    <h2>Topics</h2>
    <ul class="topics">

        {% for category in site.categories %}
        <li class="topic-header"><b>{{ category | first }}</b></li>
        {% for post in category.last %}
        <li>
            <ul class='subnavlist'>
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            </ul>
        </li>
        {% endfor %}
        {% endfor %}

    </ul>
</nav>
