/* ==========================================================================
   Page layout
   ========================================================================== */

@mixin flex-container() {
  display: flex;
  display: -webkit-flex;
}
@mixin flex-row()
{
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
@mixin flex-column() {
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
@mixin flex-horizontal() {
  @include flex-container;
  @include flex-column;
  @media #{$medium} {
    @include flex-row;
  }
}
@mixin flex-vertical() {
  @include flex-container;
  @include flex-column;
}
@mixin flex-order($order) {
  -webkit-order: 0;
  order: 0;
  @media #{$medium} {
    -webkit-order: $order;
    order: $order;
  }
}
@mixin flex-width($width) {
  -webkit-flex: $width 1 auto;
  flex: $width 1 auto;
}

@mixin flex-column-1() {
  @include flex-order(1);
  @include flex-width(1);
  width: 100%;
  @media #{$medium} {
    margin-right: 5%;
    width: 20%;
  }
}

@mixin flex-column-2() {
  @include flex-order(2);
  @include flex-width(3);
  width: 100%;
  margin: 0;
  @media #{$medium} {
    width: 75%;
    max-width: 75%;
  }
}

body {
  background-color: $bodycolor;
  font-family: $base-font;
  color: $text-color;
}

@mixin narrow() {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;

  @media #{$large} {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  @media #{$x-large} {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
.horizontal {
  @include flex-horizontal;
}

.vertical {
  @include flex-vertical;
}

/*
   Header
   ========================================================================== */

body > header {
  @include container;
  background-color: #5D94EB;
  color: #FFF;
  padding: 1em 0;
  font-family: $heading-font;
  font-weight: 700;
  margin-bottom: 1em;
  @include clearfix;

  & > div.horizontal {
    @include narrow;
    @include flex-container;
    @include flex-row;
    margin-bottom: 1em;

  }

  aside {
    a {
      decoration: none;
      cursor: pointer;
      color: #FFF;
      &:visited {
        color: #FFF;
      }
      &:hover, &:focus {
        color: #333;
      }
    }
    h1 {
      @include flex-column-1;
      padding: 0;
      margin: 0;

      @media #{$small} {
        margin-top: -5px;
      }
    }
  }

  section {
    h1, p {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  nav {
    @include flex-column-2;
    text-transform: uppercase;
    white-space: nowrap;

    header {
      display: block;

      h2 {
        float: right;
        margin: 0;
      }
    }
    & > ul {
      display: none;
      position: absolute;
      top: 64px;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;
      background-color: rgba(255, 255, 255, .9);
      z-index: 1000;

      li {
        display: block;
        padding: .5em;
        margin: 0;
        white-space: nowrap;

        & + li {
          margin-left: 0;
        }

        a {
          decoration: none;
          cursor: pointer;
        }

        ul {
          display: none;
          margin-bottom: -0.5em;
          padding: 0.5em 0 0;
        }
      }
      & > li > a {
        color: #FFF;
        &:visited {
          color: #FFF;
        }
        &:hover, &:focus {
          color: #333;
        }
      }
    }
    @media #{$small} {
      header {
        display: none;
      }
      & > ul {
        display: block;
        position: static;
        background-color: transparent;

        li {
          position: relative;
          display: inline;
          padding: 0;
          & + li {
            margin-left: 2em;
          }
          ul {
            display: none;
            position: absolute;
            left: 0;
            top: 19px;
            z-index: 1000;
            background-color: rgba(255, 255, 255, .9);

            li {
              display: block;
              padding: 0.5em;
              & + li {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

/* _feature-image */
#feature-image {
  height: auto;
  width: 100%;
}

body > div.horizontal,
body > header > div.horizontal{
  @include narrow;

  & > section {
    @include flex-column-2;
  }

  & > aside {
    @include flex-column-1;
  }
}

body.project .page h1 {
  display: inline-table;
  margin-right: 1em;
}

.bio-photo {
  border-radius: 50%;
  width: 100%;
  max-width: 150px;
}

/* _github */
a.github {
  display: inline-block;
  position: relative;
  top: -.333em;
}

/* _badges */
ul.badges {
  margin: 0 0 1em;
  clear: both;
  padding: 0;
  list-style-type: none;

  @media #{$small} {
    li {
      display: inline;
    }
  }
}

.image-credit {
  text-transform: none;
}

.author-social {
  display: block;
}

body > footer {
  @include narrow;
  margin-top: 2em;
  text-align: center;
}

/* Post byline */
.byline {
  clear: both;
  font-size: 80%;
}

.article-author-side,
.article-author-bottom {
  h3 {
    margin-bottom: 0;
  }
  p {
    font-size: 80%;
    font-style: italic;
  }
  a, a:hover {
    border-bottom: 0 solid transparent;
  }
}

/* Default social media links in author sidebar */
.author-social {
  display: block;
  margin-bottom: 5px;
  @include font-rem(14);
  color: $black;
  &:visited {
    color: $black;
  }
  &:hover {
    @include scale(1.1);
  }
  &:active {
    @include translate(0, 2px);
  }
  .fa {
    margin-right: 5px;
  }
}

/* Social sharing links */
/* Social media brand buttons */
.social-share {
  margin-bottom: 0px + $doc-line-height;
  margin-bottom: 0rem + ($doc-line-height / $doc-font-size);
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
  }
  $social: (facebook, $facebook-color),
          (flickr, $flickr-color),
          (foursquare, $foursquare-color),
          (google-plus, $google-plus-color),
          (instagram, $instagram-color),
          (linkedin, $linkedin-color),
          (pinterest, $pinterest-color),
          (rss, $rss-color),
          (tumblr, $tumblr-color),
          (twitter, $twitter-color),
          (vimeo, $vimeo-color),
          (youtube, $youtube-color);
  @each $socialnetwork, $color in $social {
    .#{$socialnetwork} {
      background: $color;
    }
  }
  a {
    display: block;
    padding: 8px 20px;
    text-decoration: none !important;
    text-transform: uppercase;
    @include font-rem(14);
    font-family: $heading-font;
    font-weight: 700;
    color: $white;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  span {
    display: inline;
    padding-left: 5px;
  }
  span.fa {
    display: none;
    @media #{$medium} {
      display: inline;
    }
  }
  h4 {
    @include font-rem(14);
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

.doc-nav {
  @include flex-container;
  @include flex-row;
  background-color: #eee;
  @include font-rem(14);
  a {
    display: inline-block;
    text-align: center;
    flex: 1 2 0;
    &.left {
      text-align: left;
      flex: 1 1 0;
    }
    &.right {
      text-align: right;
      flex: 1 1 0;
    }
    &.disabled {
      display: none;
      @media #{$medium} {
        display: inline-block;
        visibility: hidden;
      }
    }
  }
}

td {
  vertical-align: text-top;
  padding-right: .5em;
}
td:last-of-type {
  padding-right: 0;
}
